<!-- <div>
    <h2>NBA Players</h2>
    <ul>
        <li ng-repeat="player in players">{{ player.first_name }} {{ player.last_name }} | <button ng-click="deletePlayer(player.id)">Delete Player</button></li>
    </ul>
</div> -->


<div>
  <h3>NBA Players</h3>

  <label>Search Player: <input ng-model="searchText"></label>

  <table>
    <tr>
      <th>First Name </th>
      <th>Last Name </th>
      <th>NBA Team </th>
      <th>Delete </th>
    </tr>
    <tr ng-repeat="player in players  | filter:searchText">
      <td>{{ player.first_name }} </td>
      <td>{{ player.last_name }} </td>
      <td> team name </td>
      <td> <button ng-click="deletePlayer(player.id)">Delete Player</button> </td>
    </tr>
  </table>
</div>

<div>
  <h3>Add a new player</h3>
    <p>
      <label> First Name</label>
      <input type="text" ng-model = 'newPlayer.player.first_name'> <br>
      <label> Last Name</label>
      <input type="text" ng-model = 'newPlayer.player.last_name'> <br>

      <!-- need to show scroll of all teams -->
      <select ng-repeat = "team in players">
        <option value="{{team.first_name}}">{{team.first_name}}</option>
      </select><br>
      <input type="submit" ng-click = 'createPlayer()' value="Create Player">
    </p>

</div>
